{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block extraStyle %} 
<style>
  .resultado {
      height: 600px; /* Altura fija */
      overflow-y: auto; /* Agrega scrollbar verticalmente si es necesario */
      background-color: #f8f9fa; /* Color de fondo (Bootstrap light) */
      border: 1px solid #dee2e6; /* Borde (Bootstrap) */
      padding: 15px; /* Espaciado interior */
  }
</style>
{% endblock %}

{% block content %}
<!-- Título de la página Home -->
<div class="container-fluid" style="background: linear-gradient(to right, #abcae8, #ffffff); padding: 10px;">
    <h1> Checa, valida y compara exámenes usando IA</h1>
</div>

<!-- Texto de introducción -->
<div class="container-fluid" style="padding: 10px;">
    <p style="font-size: 18px;"> 
        Esta herramienta te permite subir documentos <b>Word</b> o <b>PDF</b> para ser calificados (por ChatGPT) o almacenados
        para su posterior comparación. El objetivo es validar la eficiencia de la IA para la corrección automática de exámenes.
    </p>
</div>

<!-- Conjunto de pestañas-->
<div class="container-fluid">
    <ul class="nav nav-tabs justify-content-center bg-gradient-light" id="myTab" role="tablist">
        <!-- Titulos de pestañas -->
        <li class="nav-item w-50">
            <a class="nav-link active text-center" id="form1-tab" data-toggle="tab" href="#form1" role="tab" aria-controls="form1" aria-selected="true">1. Procesar documento: usar IA o almacenar respuestas</a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link text-center" id="form2-tab" data-toggle="tab" href="#form2" role="tab" aria-controls="form2" aria-selected="false">2. Validar documento</a>
        </li>
    </ul>
    <!-- Contenido de las pestañas -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="form1" role="tabpanel" aria-labelledby="form1-tab">
            <!-- Form para procesar -->
            <form id="documentProcessingForm" action="/procesar" method="post" enctype="multipart/form-data" class="text-center" style="background: radial-gradient(circle, #ccd2d8, #ffffff); padding: 10px;">
                <h5 style="font-weight: bold;">Procesar Examen</h5>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="fileUploadChatGPT" name="fileUpload" required>
                </div>
                <small class="form-text" style="color: rgba(0, 0, 0, 0.5);">
                    Solo se aceptan archivos en formato Word y PDF.
                </small>
                <button type="submit" class="btn" name="action" value="examAI" style="background-color: #4CAF50; color: white; margin-bottom: 10px;">Calificar Automático</button>
                <button type="submit" class="btn" name="action" value="examProf" style="background-color: #347936; color: white; margin-bottom: 10px;">Registrar Respuestas</button>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkForm1" onchange="toggleFields('form1Fields')">
                    <label class="form-check-label" for="checkForm1">
                        Añadir datos adicionales
                    </label>
                </div>
                <div id="form1Fields" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control mt-2" placeholder="Departamento" name="departamento">
                            <input type="text" class="form-control mt-2" placeholder="Profesor" name="profesor">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control mt-2" placeholder="Materia" name="materia">
                            <input type="date" class="form-control mt-2" name="fecha">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="form2" role="tabpanel" aria-labelledby="form2-tab">
            <!-- Form para almacenar respuestas -->
            <form id="documentProcessingForm2" action="/validar" method="post" enctype="multipart/form-data" class="text-center" style="background: radial-gradient(circle, #ccd2d8, #ffffff); padding: 10px;">
                <h5 style="font-weight: bold;">Validar Examen</h5>
                {% if resultado %}
                    <input type="text" class="form-control mt-2" value={{resultado}} name="recentId">
                {% else %}
                    <input type="text" class="form-control mt-2" placeholder="Most recent document ID" name="recentId">
                {% endif %}
                <br>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="fileVerify" name="fileUpload" required>
                </div>
                <small class="form-text" style="color: rgba(0, 0, 0, 0.5);">
                    Solo se aceptan archivos en formato Word y PDF.
                </small>
                <button type="submit" class="btn" name="action" value="examAI" style="background-color: #4CAF50; color: white; margin-bottom: 10px;">Validar IA</button>
                <button type="submit" class="btn" name="action" value="examProf" style="background-color: #007BFF; color: white; margin-bottom: 10px">Validar Prof</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="resultado" style="padding: 20px; border: 1px solid #ddd;">
            {% if resultado %}
            <iframe src="{{ url_for('views.generate_pdf', id=resultado, action=action, validar=validar) }}" style="width: 100%; height: 100%;"></iframe>
            {% else %}
            <p style="color: rgba(0, 0, 0, 0.5);">El resultado aparecerá aquí.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <!-- Second column content goes here -->
        {% if validar %}
        <h5 style="font-weight: bold;">Desempeño de ChatGPT: </h5>
        <p style="color: rgba(0, 0, 0, 0.5);"> {{evalua[0]}} / {{evalua[1]}} </p>
        {% else %}
        <p style="color: rgba(0, 0, 0, 0.5);">Valida tu examen.</p>
        {% endif %}
    </div>
</div>


<script>
    function toggleFields(fieldsDivId) {
        const fieldsDiv = document.getElementById(fieldsDivId);
        if (fieldsDiv.style.display === "none") {
            fieldsDiv.style.display = "block";
        } else {
            fieldsDiv.style.display = "none";
        }
    }
</script>


{% endblock %}